flet==0.23.2
flet-route==0.3.3
librosa==0.8.1
loguru==0.7.2
numpy==1.26.4
openai-whisper==20231117
PyAudio==0.2.11
scikit-learn==1.5.1
scipy==1.14.0
SpeechRecognition==3.10.4
torch==2.4.0
torchaudio==2.4.0